@import '../header/variables';
@import '../header/mixins';

.contact{
    @include size(flex, 100%, auto, center, stretch); 
    flex-direction: column;
    background-color: $bg-color-2;
  
    .title-section{
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      font-family: 'Sarabun', sans-serif;
      font-size: 28px;
    }
  
    hr{
      display: block;
      margin: auto;
      width: 100%;
      border: solid 0.8px $bg-color-1;
    }
  
    .row-2{
      display: flex;
      flex-direction: row;
  
      .left, .right{
        background-color: $bg-color-2;
        flex: 1;
        flex-grow: 1;
      }
  
      .left{
        padding: 50px;
        box-sizing: border-box;
        border-right: solid 0.8px $bg-color-1;
  
        form{
          text-align: right;
  
          button{
            width: 60%;
            padding: 15px 30px;
            border: none;
            background-color: $primary-color;
            color: $bg-color-1;
            box-sizing: border-box;
            font-family: $principal-font;
  
            &:hover{
              cursor: pointer;
              transform: translate(-.1em,-.1em) ;
              background-color: #0d1540;
              box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
            }
          }
  
          input[type=text], textarea {
            width: 60%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            font-family: $principal-font;
  
            &:hover{
              background-color: #DCE6EF;
            }
          }

          .invalid-feedback-custom{
            font-family: $principal-font;
            font-size: 80%;
            color: rgb(231, 22, 22);
            margin-bottom: 1rem;
          }

          textarea{
            height: 10em;
            resize: none;
          }
        }
      }
  
      .right{
        padding: 50px;
        box-sizing: border-box;
  
        h3{
          @include font-type(('Assistant', sans-serif), 27px);
          margin: 0 0 5px 0;
          font-weight: 300;
        }
  
        h6{
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          text-transform: uppercase;
          font-size: 21px;
          margin: 0;
        }
  
        ul{
          @include font-type(('Hind', sans-serif), 16px);
          margin: 20px 0 60px 0;
  
          li{
            margin-top: 1em;
          }
        }
  
        hr{
          border: 0.6px inset #000;
          margin: 0;
          width: 60%;
        }
  
        .social-bar-alt{
  
          ul{
            margin: 20 0 0 5px;
  
            li{
              display: inline-block;
              font-size: 20px;
              margin-right: 1.5em;
              margin-top: 0;    
              
              i{
                color: #000;
              }
            }
          }
        }
      }
    }

    //LOADING
    .lds-ring {
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;
    
      div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 51px;
        height: 51px;
        margin: 6px;
        border: 6px solid $primary-color;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $primary-color transparent transparent transparent;
      }

      div:nth-child(1) {
        animation-delay: -0.45s;
      }
      div:nth-child(2) {
        animation-delay: -0.3s;
      }
      div:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  @media (max-width: 1000px){
    .row-2{
      flex-direction: column !important;
    
      .left{
  
        form{
          text-align: center !important;
  
          button{
            width: 75% !important;
          }
  
          input[type=text], textarea {
            width: 75% !important;
          }
        }
      }
  
      .right{
        text-align: center;
  
        h3{
          font-size: 26px !important;
          font-weight: 600 !important;
        }
  
        h6{
          font-weight: 600 !important;
        }
  
        ul{
          margin: 20px 0 35px 0 !important;
          padding: 0;
  
          li{
            margin-top: 1em;
            font-size: 16px !important;
          }
        }
  
        hr{
          margin: auto !important;
        }
  
        .social-bar-alt{
  
          ul{
  
            li{
              font-size: 22px !important;
              margin: 0 .7em !important;
            }
          }
        }
      }
    }
  }  

  @media (max-width: 575.98px) { 
    .row-2{
      .left{
        padding: 1rem 0.5rem !important;
    
        form{

          input[type=text], textarea, button {
            width: 85% !important;
          }

          button{
            margin-top: .5rem;
          }
        }  
      }

      .right{
        padding: 2rem 0.5rem !important;
        text-align: center;
  
        ul{
  
          li{
            font-size: 18px !important;
          }
        }
  
        hr{
          width: 90% !important;
        }
      }  
    }
  }

  .toastForm{
    display: flex;
    position: fixed;
    box-sizing: border-box;
    left: 0px;
    bottom: 0px;
    max-width: 292.297px;
    max-height: 48px;
    background-color: #323232;
    color: #f1f1f1;
    min-height: 48px;
    min-width: 288px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px;
    margin: 12px;
    font-size: 14px;
    opacity: 0;
    transition: opacity ease 0.3s;
  }

  .toastForm-active{
    opacity: 1 !important;
  }