<section class="contact" id="contactSection" *ngIf="dataPersonal">
    <h2 class="title-section mt-4 mb-4" #titleSection>Contact Me</h2>
    <hr>
    <aside class="row-2">
        <div class="left">
            <!-- Contact FORM -->
            <form class="needs-validation" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <!-- name -->
                <input type="text" formControlName="name" placeholder="Name">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required"></div>Name is required</div>
                </div>
                <!-- email -->
                <input type="text" formControlName="email" placeholder="Email">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
                <!-- subject -->
                <input type="text" formControlName="subject" placeholder="Subject">
                <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                    <div *ngIf="f.subject.errors.required">Subject is required</div>
                </div>
                <!-- message -->
                <textarea  formControlName="message" placeholder="Message"></textarea>
                <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                    <div *ngIf="f.message.errors.required">Message is required</div>
                    <div *ngIf="f.message.errors.minlength">Message must be at least 20 characters</div>
                </div>
                <button type="submit" id="buttomForm">Submit</button>
            </form>
            </div>
        <!-- Contact Section -->
        <div class="right" id="info-contact" *ngIf="dataPersonal">
            <h3> {{ dataPersonal.name }} </h3>
            <h6> {{ dataPersonal.profession }} </h6>
            <ul>
                <li>
                <span><b>Phone: </b></span>
                <br/>
                <span> {{ dataPersonal.phone }} </span>
                </li>
                <li>
                <span><b>Email: </b></span>
                <br/>
                <span> {{ dataPersonal.email }} </span>
                </li>
            </ul>
            <hr>
            <!-- Social Networks -->
            <div class="social-bar-alt" id="socialContainer-alt">
                <ul>
                    <li *ngFor="let item of dataSocial">
                        <a href={{item.url}} target="_blank"><i class="fab {{item.icon}}"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    </section>