<section class="content">
    <!-- PLACEHOLDER -->
    <div *ngIf="!data" class="repos-placeholder">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        <h3>Loading...</h3>
    </div>

    <!-- REPOS -->
    <section class="repos" *ngIf="data">
        <a href="{{repo.html_url}}" target="_blank" *ngFor="let repo of data">
            <article class="repo" >
                <h3>{{ repo.name }}</h3>
                <h4>URL: {{ repo.html_url }}</h4>
            </article>
        </a>
    </section>
</section>