<section class="background-pic" id="bg">
    <!-- PROFILE FOR PC -->
    <div class="container profile d-none d-lg-flex">
        <div class="row w-100 align-items-end justify-content-center">
            <section class="col-5 p-0 profile-pic" [ngClass]="{'profile-animation': data}">
                <img class="pic img-fluid" src="../../../assets/profile-pic.jpg" alt="Foto de Perfil">
            </section>
            <section class="col-5 p-0 profile-info"  [ngClass]="{'profile-animation': data}">
                <div class="content-info" id="personal-data" *ngIf="data">
                    <h1>{{ data.name }}</h1>
                    <h4>{{ data.profession }}</h4>
                    <ul class="mt-4">
                        <li>
                            <span><b>Phone:</b></span><br>
                            <span>{{ data.phone }}</span>
                        </li>
                        <li>
                            <span><b>Email:</b></span><br>
                            <span>{{ data.email }}</span>
                        </li>
                        <li>
                            <span><b>Date of Birth:</b></span><br>
                            <span>{{ data.birth }}</span>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>

    <!-- PROFILE FOR MOBILE -->
    <div class="container p-4 profile-mobile d-flex d-lg-none">
        <div class="row justify-content-center profile-pic w-100" [ngClass]="{'profile-animation': data}">
            <div class="col-xs-6 col-sm-8 col-md-6 p-0">
                <img class="pic" src="../../../assets/profile-pic.jpg" alt="Foto de Perfil">
            </div>    
        </div>     
        <div class="row justify-content-center profile-info w-100"  [ngClass]="{'profile-animation': data}">
            <div class="col-xs-6 col-sm-8 col-md-6 content-info pt-4 pb-4" id="personal-data" *ngIf="data">
                <h1>{{ data.name }}</h1>
                <h4>{{ data.profession }}</h4>
                <ul>
                    <li>
                        <span><b>Phone:</b></span><br>
                        <span>{{ data.phone }}</span>
                    </li>
                    <li>
                        <span><b>Email:</b></span><br>
                        <span>{{ data.email }}</span>
                    </li>
                    <li>
                        <span><b>Date of Birth:</b></span><br>
                        <span>{{ data.birth }}</span>
                    </li>
                </ul>
            </div>
        </div>  
    </div>
</section>