@import '../header/variables';
@import '../header/mixins';

body{
  margin: 0;
}
img{
    margin: 0;
    display: block;
  }
  h1, h2, h3, h4, li, p, th, td, a{
    color: $primary-color;
  }
  a{
    text-decoration: none;
  }
  
  ul{
    list-style: none;
    padding: 0;
  }

/* PROFILE SECTION */

.background-pic{
    @include size(flex, 100%, 90vh, center, stretch);
    background-image: url(../../../assets/computer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 13vh;
    overflow: hidden;
    position: relative;
  }
  
  
  .profile{
    @include size(flex, 100%, 100%, center, flex-end); 
    box-sizing: border-box;
    margin: auto;
    position: absolute;
  
    ul{
      @include font-type($principal-font, 15px);
    }
  
    li{
      margin-bottom: 25px;
    }
  
    .profile-pic,  .profile-info{
      box-sizing: border-box;
      display: inline-block;
      min-width: 500px;
      min-height: 500px;
      opacity: 0; //cambiar
      transition: all 1s ease;
    }
  
    .profile-info{
      transform: translateX(50px);//cambiar translateX(50px);
    }
  
    .profile-pic{
      transform: translateX(-50px);//cambiar translateX(-50px);
  
      .pic{
        width: 100%;
        filter: grayscale(100%);
      }
    }
  
    .profile-animation{
      opacity: 1;
      transform: translateX(0);
    }
  
    .profile-info{
      background-color: $bg-color-1;
      display: flex;
      align-items: center;
  
      .content-info{
        padding-left: 70px;
      }
  
      h1{
        @include font-type(('Assistant', sans-serif), 29px);
        margin-bottom: 5px;
      }
  
      h4{
        @include font-type(('Roboto', sans-serif), 14px);
        text-transform: uppercase;
        margin-top: 0;
      }
    }
  }




  /**   PROFILE CLASS FOR MOBILE   **/

  .profile-mobile{
    @include size(flex, 90%, 100%, center, center); 
    box-sizing: border-box;
    flex-direction: column;


    .profile-pic,  .profile-info{
      display: flex;
      justify-content: center;
      opacity: 0; //cambiar
      transition: all 1s ease;
    }  

    .profile-info{
      align-items: flex-start;
      text-align: center;
      transform: translateX(50px);//cambiar translateX(50px);

      .content-info{
        background-color: $bg-color-1;


        ul{
          @include font-type($principal-font, 16px);
        }
      
        li{
          margin-bottom: 20px;
        }

        h1{
          @include font-type(('Assistant', sans-serif), 28px);
          margin-bottom: 5px;
          font-weight: bold;
        }
    
        h4{
          @include font-type(('Roboto', sans-serif), 18px);
          text-transform: uppercase;
          margin-bottom: 1rem;
          font-weight: bold;

        }
      }
    }

    .profile-pic{
      user-select: none;
      align-items: flex-end;
      transform: translateX(-50px);//cambiar translateX(50px);

      .pic{
        width: 100%;
        filter: grayscale(100%);
        user-select: none;
      }
    }

    .profile-animation{
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .social-bar-animation{
    height: 8vh !important;
  }
  
  .social-bar-mobile{
    display: none;
    width: 100%;
  }

  @media (max-width: 575.98px) { 
    .profile-info{
      width: 80% !important;
    }

    .profile-pic{
      width: 80% !important;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199.98px) { 

    .profile{
      align-items: center !important;
      
      .profile-pic,  .profile-info{
        min-width: 400px;
        min-height: 400px;
      }
    }
   }