<section class="skills" id="skillsSection" *ngIf= "dataSkills">
    <h2 class="title-section mt-4 mb-4">Skills</h2>
    <hr class="line_skills">
    <table>
        <thead class="mb-2">
            <tr>
                <th>Subject</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tfoot>
            <tr *ngFor= "let item of dataSkills">
                <td>{{ item.name }}</td>
                <td>
                    <div class="prog-bar-cont">
                        <div class="prog-bar" [ngStyle]="{'clip-path': item.value}">
                            <div class="background"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</section>