<section class="presentation">
    <div class="social-bar" id="socialContainer" *ngIf="dataSocial">
        <ul class="align-items-center h-100 p-0 m-0 ">
            <li *ngFor="let item of dataSocial">
                <a href={{item.url}} target="_blank"><i class="fab {{item.icon}}"></i></a>
            </li>
        </ul>
    </div>
    <div class="text-present" *ngIf="dataPresent" animate>
        <h2> {{ dataPresent.title }} </h2>
        <p> {{ dataPresent.text }} </p>
    </div>
</section>